body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  correct the styling for UI kit */
.lc-ggtqtw {
  width: auto !important;
  height: 10% !important;
}

.lc-ggtqtw img{
  width: auto !important;
  height: auto !important;
}

.lc-1f0e56z{
  height: calc(100vh - 64px - 150px) !important;
}

.lc-x0i9wh {
  display: flex;
  flex-direction: inherit;
}
.lc-1asrk6q .lc-13e3qow{
    margin-top: 10px;
    background: #0092ff;
    color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 10px;
}

.lc-bgzoqr .lc-13e3qow{
  margin: 1px 0;
  background: #f4f4f8;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.lc-1kafun6{
  background: #5F6FC7 !important;
  color: #fff;
  transition: 0.3s ease-in;
}

.lc-1j8di50:hover {
  background: rgba(95, 110, 199, 0.311) !important;
  transition: 0.3s ease-in!important;
  -webkit-transition: 0.3s ease-in!important;
  -moz-transition: 0.3s ease-in!important;
  -ms-transition: 0.3s ease-in!important;
  -o-transition: 0.3s ease-in!important;
  color: #2e2e2e !important;
}

@keyframes shimmer {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}


.shimmer.lc-1asrk6q .lc-13e3qow{
  margin-top: 10px;
  background: #fff;
  color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 10px;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;

}

.shimmer .lc-9z5quo{
  margin-top: 10px;
}

.shimmer .lc-1rajx2j{
  background: grey;
  color: grey;
  border-radius: 10px;
}

.shimmer .lc-3ft2j8{
  background: grey;
  color: grey;
  margin-top: 10px;
  border-radius: 10px;
}